@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  font-family: 'Rubik', sans-serif;
  font-weight: 1;
  font-weight: 400;
  /* margin: 0; */
}

html { 
  font-size: 62.5%;
}

strong {
  font-weight: 500;
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  /*border: 2px solid #333;*/
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid-center {
  align-items: center;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
} 

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
} 

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/* --- SECTION HERO --- */

.header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  height: 6.2rem;
  padding: 0 4.8rem; 
}

.header p {
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
}

.main-nav-list {
  display: flex;
  align-items; center;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link, 
.main-nav-link:visited {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.main-nav-link:hover, 
.main-nav-link:active {
  color: #e67e22;
}

.nav-link-btn:link,
.nav-link-btn:visited {
  background-color: #FF9000;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 9px;
}

.nav-link-btn:active {
background-color: #cf711f;;
color: #fff;
}
.nav-link-btn:hover {
background-color: #cf711f;;
color: #fff;
transform: scale(1.2);
transition-duration: 0.5s;
}

.section-hero {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://hips.hearstapps.com/hmg-prod/images/ingredients-for-spring-vegetable-buddha-bowl-royalty-free-image-656873420-1558126238.jpg?crop=1.00xw:0.718xh;0,0.141xh&resize=1200:*"), linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1)) ;
  padding: 4.8rem 0 9.6rem 0;
  background-size: cover;
  height: 100vh;
}
 
.hero {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 130rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  color: #fff;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  /* font-size: 6.2rem;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.5px;
  margin-bottom: 2.4rem; */
}
 
.hero-description {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
 
.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.4rem 2.8rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 9px;
  margin-bottom: 1.6rem;
  transition: background-color 0.5s;
}

.btn-start:link, .btn-start:visited {
  background-color: #FF9000;
  color: #fff;
}

.btn-start:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.btn-start:active {
  background-color: #cf711f;
  color: #fff;
}

.btn-learn:link, .btn-learn:visited {
  background-color: #fff;
  color: #555;
}
 
.btn-learn:hover, .btn-learn:active {
  background-color: #fdf2e9;
  transform: scale(1.2);
  transition-duration: 0.5s;
}
 
.margin-right-sm{
  margin-right: 1.6rem;
}
 
.hero-img {
  width: 100%;
}

.hero-meals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /*margin-left: 1rem;*/
}

.hero-meals-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}
 
 .hero-meals-img img {
  height: 4.0rem;
  width: 4.0rem;
  border-radius: 50%;
  margin-left: -1.5rem;
  border: 3px solid transparent;
}
 
 .hero-meals-p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 8px #000;
  justify-content: center;
}
 
 .meal-250 {
   font-weight: 600;
   font-size: 1.6rem;
   color: #EC8600;
   text-shadow: 1px 1px 8px #000;
   justify-content: center;
 }

 /* - SECTION HOW - */

.section-how {
  padding: 9.6rem 0;
}

.subheading {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  color: #EC8600;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 4.8rem;
}

.step-text-box {
  padding: 0 2rem;
}

.stemp-number {
  font-size: 18rem;
  font-weight: 600;
  margin: 0;
  color: #D1D1D1;
}

.heading-tertiary {
  font-size: 3.0rem;
  margin-bottom: 3.2rem;  
  letter-spacing: -0.5px;
  margin-top: -5.8rem;
}

.step-description {
  font-size: 1.6rem;
  line-height: 2;
  margin-bottom: 4.8rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 100%;
}

/* --- SECTION MEALS --- */

.section-meals {
  padding: 4.8rem 0 9.6rem 0;
}

.meal-box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal-box:hover{
  transform: translateY(-2rem);
}

.meal-container {
  padding: 3.2rem;
}

.tag {
  font-size: 1.4rem;
  background-color: #51cf66;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  border-radius: 9px;
  margin-bottom: 1.2rem;
}

.tag-vegan {
  background-color: #2FE9C8;
}

.meal-tittle {
  font-size: 2.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.meal-img {
  height: 24rem;
  width: 48rem;
  /*height: 100%*/
}

.meal-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-atribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.meal-icons {
  height: 3rem;
  width: 3rem;
}

.diet-list {
  font-size: 1.6rem;
  display; flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.diet-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.diet-icon {
  color: #00CA35;
  width: 3rem;
  height: 3rem;
}

.all-recipes {
  font-size: 1.6rem;
  text-align: center;
  padding: 4.2rem 0 0 0;
  /*border: 1px solid #e67e22;*/
}

.link-recipes:link, .link-recipes:visited {
  text-decoration: none;
  color: #e67e22;
  display: inline-block;
  transition: all 0.3s;
}

.link-recipes:hover, .link-recipes:active {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

/* --- SECTION GALLERY --- */

.gallery-container {
  /*border: 1px solid #e67e22;*/
  max-width: 160rem;
  padding: 4.8rem 0 9.6rem 0;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.gallery-img:hover {
  transform: scale(1.1);
}

/* --- SECTION PRICING --- */

.section-pricing {
  padding: 0 0 9.6rem 0;
}

.price-container {
  margin-bottom: 6rem;
}

.pricing-plan {
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 3.2rem 1.2rem;
  text-align: center;
  align-items: center;
  width: 60%;

  transition: all 0.7s;
  position: relative;
  overflow: hidden;
}

.pricing-plan:hover {
  transform: scale(1.05);
}

.starter {
  font-weight: 600;
  font-size: 1.6rem;
  color: #EC8600;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}
  
.price-plan {
  text-transform: uppercase;
  align-items: center;
  font-size: 3.2rem;
  font-weight: 600;
  align-items: center;
}

.dollar {
  text-transform: uppercase;
  align-items: center;
  font-size: 6.0rem;
  font-weight: 600;
  }

.sub-price {
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: #777;
}

.pricing-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
  align-items: center;
  margin-bottom: 2rem;
}

.price-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.grid-starter {
  justify-self: end;
}

.grid-complete {
  justify-self: start;
}

.grid-complete::after {
  content: "Best Value";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #EFE600;
  padding: 0.9rem 5.2rem;
  transform: rotate(45deg);
  position: absolute;
  top: 6%;
  right: -15%;
}

.plan-details {
  text-align: center;
  padding: 4rem 0 4.8rem 0;
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 4.8rem;
}

.feature {
  /*border: 1px solid #e67e22;*/
}

.feature-icons {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  margin-bottom: 1.6rem;

  padding: 1.4rem;
  background-color: #fae5d3;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

/* --- SECTION CTA --- */

.section-cta {
  height: 40rem;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://hips.hearstapps.com/hmg-prod/images/ingredients-for-spring-vegetable-buddha-bowl-royalty-free-image-656873420-1558126238.jpg?crop=1.00xw:0.718xh;0,0.141xh&resize=1200:*"), linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.1));
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14rem;
}

.cta-container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  /*border: 2px solid #fae5d3;*/
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.4rem;
 
  /*justify-content: center;
  column-gap: 3.0rem;*/
  /*border: 2px solid #000;*/
}

.cta-text-box {
  padding: 1.6rem;
  color: #fff;
  /*background-color: #5BC3FF;*/
}

.cta .heading-secondary {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
}

.cta-text {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.cta-form-box {
  padding: 0 1.6rem;
  color: #fff;
  /*background-color: #FFA38F;*/
}

.cta-form {
  margin-bottom: 1.6rem;
  color: #fff;
}

.btn-cta {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  border-radius: 11px;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.btn-cta:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.cta-form label {
  font-size: 1.8rem;
  margin-right: 0.8rem;
  font-family: 'Rubik', sans-serif;
}

.cta-form input {
  padding: 0.7rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 24rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cta-form input :active {
  padding: 0.7rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 24rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.cta-form select {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.5);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.6rem rgba(253, 242, 233, 0.5);
  border-radius: 6px;
}

/* --- SECTION FOOTER --- */

.footer {
  padding: 8.0rem 0;
  box-shadow: 0 2rem 4rem 0.3rem rgba(0, 0, 0, 0.2);
  /*border-top: 1px solid #D1D1D1;*/
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 0;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.logo-social {
  display: block;
  /*border: 1px solid #999;*/
  height: 2.8rem;
  width: 2.8rem;
  fill: #777;
  text-decoration: none;
}

.copyrights {
  font-size: 1.4rem;
  color: #777;
  margin-top: 2.4rem;
}

.adress {
  font-size: 1.6rem;
  color: rgb(119, 119, 119);
}

.adress p,
.adress a {
  display: block;
  color: #777;
  text-decoration: none;
}

.footer-link:link, 
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #777;
  transition: all 0.3s;
}

.footer-link:hover, 
.footer-link:active {
  color: #555;
  font-weight: 500;
}

.logo {
  width: 100%;
  margin-bottom: 3.2rem;
}