@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
  
  .bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.8)), url("https://hips.hearstapps.com/hmg-prod/images/ingredients-for-spring-vegetable-buddha-bowl-royalty-free-image-656873420-1558126238.jpg?crop=1.00xw:0.718xh;0,0.141xh&resize=1200:*"), linear-gradient(to right, rgba(0,0,0,8), rgba(0,0,0,0.8)) ;
    background-size: cover;
    background-position: center;
  }

  .container {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  .transition-all{
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.5s;
  }
  
  /* .heading-secondary {
    font-size: 8.6rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-bottom: 4.8rem;
  } */

  .grid-complete {
    justify-self: start;
  }

  .featured-icon {
    color: #e67e22;
  }
}